ul li {
    background: #00ff5a;
    color: #000000;
}
ul li:hover {
    background: #ddd;
}

.header {
    background-color: #00ff5a;
    padding: 40px 30px;
    color: #000000;
    text-align: center;
}
body {
    background-color: #000;
}
* {
    box-sizing: border-box;
}

ul {
    padding: 0;
}
button2 {
    background: #e30000;
    color: #ffc715;
}
