
/* Заголовок */
.header {
    background-color: #45ff00;
    padding: 30px 40px;
    color: #000000;
    text-align: center;
    font-size: 28px;

}

/* Включение отступа и границы в общую ширину и высоту элемента */
* {
    box-sizing: border-box;
}

/* Удаление лишних полей и отступов */
ul {
    margin: 0;
    padding: 0;
}

/* Стиль списка */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 20px 10px 45px;
    background: #252525;
    color: #c9ffb4;
    font-size: 25px;
    transition: 0.2s;

    /* Элементы списка нельзя выбрать */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Выбор цветового решения для одних из полос зебры */
ul li:nth-child(odd) {
    background: #505050;
    color: #c9ffb4;
}

/* При наведении */
ul li:hover {
    background: #000000;
    color: #ffffff;

}

/* Замена цветов и вычеркивание текста */
ul li.checked {
    background: #383838;
    color: #ffffff;
    text-decoration: line-through;
}

/* Добавление Галочки (checked) */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #45ff00;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Закрыть кнопка стиль */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 20px 12px 16px;
    color: #45ff00;
}


/* Грань после заголовка */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Стиль ввода */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 36px;
}

/* Добавить кнопка Save стиль */
.SaveButton {
    padding: 10px;
    width: 25%;
    background: #000000;
    color: #45ff00;
    float: left;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

